.testimonial {
    padding-top: 100px;
}

.card {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.user {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.card:hover {
    transform: translateY(-10px);
}

:global(.fa.fa-quote-left ) {
    font-size: 34px;
    color: #ff523b;
}

.rating i {
    color: #ff523b;
    margin-right: 4px;
}

.card p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.card h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}