@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 68.75rem;
    margin: auto;
    padding: 0 25px;
}

.row {
    display: flex;
    align-items: center;
    padding: 50px 0;
    justify-content: space-around;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.link {
    text-decoration: none;
    color: #555;
}

.btn {
    text-decoration: none;
    color: #fff;
    background: #ff523b;
    padding: 10px 30px;
    border-radius: 20px;
    transition: background 0.5s;
}

.title {
    color: #555;
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    position: relative;
    margin-bottom: 30px;
}


/* effects */

.btn:hover {
    background: #563434;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 4px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
}

/* to delete */
.col-2 {
    flex-basis: 50%;
    min-width: 18.75rem;
}

.col-3 {
    flex-basis: 30%;
    width: 250px;
    margin-bottom: 30px;
}